@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;900&display=swap");
@import url("./drawer/drawer.css");

/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* root css */

:root {
  --dark-color: #171717;
  --primary-color: #0eafa7;
  --highlight-color: #f0739d;
  --bg-color: #f1f1f1;
  --light-color: #fff;
  --secondary-color: #878787;
  --success-color: #47cf73;
  --warning-color: #fedc56;
  --danger-color: #cf4751;
  --theme-color: #9370db;

  /* hover-color */
  --dark-color-hover: #171717c0;
  --primary-color-hover: #0eafa7c0;
  --highlight-color-hover: #f0739dc0;
  --bg-color-hover: #f2f2f2c0;
  --light-color-hover: #fff;
  --secondary-color-hover: #525252;
  --success-color-hover: #47cf73c0;
  --warning-color-hover: #fedc56c0;
  --danger-color-hover: #cf4751c0;
  --theme-color-hover: #9370dbc0;

  /* dark theme color */
  --dark-theme-bg-color: #1f2933;
  --dark-theme-text-color: #f7f7f7;
}

/* main body css */

body {
  background: var(--bg-color);
  /* margin: 20px; */
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-margin-top: 10em;
  line-height: 1.4rem;
  /* color: var(--dark-theme-text-color); */
}

a {
  text-decoration: none;
  color: inherit;
}

/* headings css */

h2,
h3,
h4,
h1,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/* hr css */

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* material icon styles */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.material-icons {
  display: inline-flex;
  vertical-align: middle;
  padding-bottom: 3px;
}

.background {
  gap: 12px;
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
}

.background > div {
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  width: 7rem;
  height: 7rem;
}

/* container */
.container {
  margin: 2rem;
  padding: 2rem;
}

/* text color css */
.text-light {
  color: var(--light-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-highlight {
  color: var(--highlight-color);
}

.text-theme {
  color: var(--theme-color);
}

.text-success {
  color: var(--success-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-warning {
  color: var(--warning-color);
}

.text-danger {
  color: var(--danger-color);
}

/* all background color */

.dark-color {
  color: white;
  background-color: var(--dark-color);
}
.primary-color {
  background-color: var(--primary-color);
}
.highlight-color {
  background-color: var(--highlight-color);
}
.light-color {
  background-color: var(--light-color);
}
.success-color {
  background-color: var(--success-color);
}
.secondary-color {
  background-color: var(--secondary-color);
}
.warning-color {
  background-color: var(--warning-color);
}
.danger-color {
  background-color: var(--danger-color);
}
.theme-color {
  background-color: var(--theme-color);
}

/* avatar css */

.avatar-container {
  width: 100%;
  height: 250px;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.avatar-xs {
  border: 1px solid var(--theme-color);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.avatar-sm {
  border: 1px solid var(--theme-color);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.avatar-md {
  border: 1px solid var(--theme-color);
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}
.avatar-lg {
  border: 1px solid var(--theme-color);
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}

/* alert */
.alert-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.error {
  font-family: "Poppins", sans-serif;
  width: 75%;
  padding: 0.5rem;
  border: 0.2rem solid var(--danger-color);
  color: var(--dark-color);
  border-radius: 0.5rem;
  font-size: 1.3rem;
  background-color: rgba(207, 71, 81, 0.4);
  display: flex;
  gap: 1rem;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-items: center;
}

.error-img {
  width: 2rem;
  height: 2rem;
}

.success {
  font-family: "Poppins", sans-serif;
  width: 75%;
  padding: 0.5rem;
  border: 0.2rem solid var(--success-color);
  color: var(--dark-color);
  border-radius: 0.5rem;
  font-size: 1.3rem;
  background-color: rgba(71, 207, 115, 0.4);
  display: flex;
  gap: 1rem;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-items: center;
}

.success-img {
  width: 2rem;
  height: 2rem;
}

.warning {
  font-family: "Poppins", sans-serif;
  width: 75%;
  padding: 0.5rem;
  border: 0.2rem solid var(--warning-color);
  color: var(--dark-color);
  border-radius: 0.5rem;
  font-size: 1.3rem;
  background-color: rgba(254, 220, 86, 0.4);
  display: flex;
  gap: 1rem;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-items: center;
}

.warning-img {
  width: 2rem;
  height: 2rem;
}

/* badges css */
.badge-container {
  display: flex;
  justify-content: space-around;
  /* background: var(--theme-color); */
  padding: 0.5rem;
  align-items: baseline;
}

.badge-text-container {
  display: flex;
  flex-direction: column;

  background: var(--theme-color);
  padding: 2rem;
}

.badge {
  padding: 0.2rem 0.4rem;
  min-width: 0.5rem;
  min-height: 0.5rem;
  display: inline-block;
  border-radius: 0.4rem;
  position: relative;
  bottom: 1rem;
  right: 5px;
  font-size: 60%;
  font-weight: bold;
}

.badge-round {
  padding: 0.2rem;
  min-width: fit-content;
  min-height: fit-content;
  width: 0.8rem;
  height: 0.8rem;
  display: inline-block;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-color);
}

.badge-with-avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
}

.badge-with-avatar > img {
  width: inherit;
  height: inherit;
}
.badge-with-avatar > .badge {
  padding: 0;
  min-width: 1rem;
  min-height: 1rem;
  border-radius: 50%;
  position: absolute;
  right:5px;
  bottom: 0px;
  border: 1px solid var(--light-color);
}

/* buttons  css */
.button-container {
  height: fit-content;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.5s;
  font-size: 1.1rem;
  border: none;
  font-weight: 600;
  min-width: 7rem;
  width: fit-content;
}

/* link with button */
.btn-link {
  text-decoration: none;
  text-align: center;
  min-width: fit-content;
  min-height: fit-content;
}

.btn-link:hover {
  background-color: var(--theme-color-hover);
}

/* normal buttons  */

.btn-primary {
  background-color: var(--primary-color);
}
.btn-primary:hover {
  background: var(--primary-color-hover);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}
.btn-secondary:hover {
  background: var(--secondary-color-hover);
}
.btn-highlight {
  background-color: var(--highlight-color);
}
.btn-highlight:hover {
  background: var(--highlight-color-hover);
}

.btn-success {
  background-color: var(--success-color);
}
.btn-success:hover {
  background: var(--success-color-hover);
}

.btn-warning {
  background-color: var(--warning-color);
}
.btn-warning:hover {
  background: var(--warning-color-hover);
}
.btn-danger {
  background-color: var(--danger-color);
}
.btn-danger:hover {
  background: var(--danger-color-hover);
}

.btn-dark {
  background-color: var(--dark-color);
  color: var(--light-color);
}
.btn-dark:hover {
  background: var(--dark-color-hover);
}

/* ____________________________________________ */

/* button-outline */
.btn-primary-outline {
  background-color: var(--light-color);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
.btn-primary-outline:hover {
  background: var(--primary-color);
  color: var(--light-color);
}

.btn-secondary-outline {
  background-color: var(--light-color);
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}
.btn-secondary-outline:hover {
  background: var(--secondary-color);
  color: var(--light-color);
}

.btn-highlight-outline {
  background-color: var(--light-color);
  border: 2px solid var(--highlight-color);
  color: var(--highlight-color);
}
.btn-highlight-outline:hover {
  background: var(--highlight-color);
  color: var(--light-color);
}

.btn-success-outline {
  background-color: var(--light-color);
  border: 2px solid var(--success-color);
  color: var(--success-color);
}
.btn-success-outline:hover {
  background: var(--success-color);
  color: var(--light-color);
}

.btn-warning-outline {
  background-color: var(--light-color);
  border: 2px solid var(--warning-color);
  color: var(--warning-color);
}
.btn-warning-outline:hover {
  background: var(--warning-color);
  color: var(--dark-color);
}

.btn-danger-outline {
  background-color: var(--light-color);
  border: 2px solid var(--danger-color);
  color: var(--danger-color);
}
.btn-danger-outline:hover {
  background: var(--danger-color);
  color: var(--light-color);
}

.btn-dark-outline {
  background-color: var(--light-color);
  border: 2px solid var(--dark-color);
  color: var(--dark-color);
}
.btn-dark-outline:hover {
  background: var(--dark-color);
  color: var(--light-color);
}

/* large button */
.btn-large {
  padding: 1.3rem 2rem;
  min-width: 12rem;
  font-size: 1.2rem;
}

/* small button */
.btn-small {
  padding: 2px 7px;
  min-width: 5rem;
  min-height: 1.5rem;
  font-size: 1rem;
}

/* disabled-button */
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.btn:disabled:hover {
  color: var(--dark-color);
  background-color: var(--secondary-color-hover);
  border: 2px solid var(--secondary-color);
}

/* block-button */
.btn-block {
  margin: 0.5rem 20%;
  flex-basis: 90%;
  border: 2px solid var(--dark-color);
}

/* floating-action-buttons  */
.btn-float {
  border-radius: 50%;
  min-width: fit-content;
}

/* ________________________________________________ */

/* responsive images */
.image-container {
  width: 360px;
  height: 360px;
  display: flex;
  flex-direction: row;
}
.responsive-img {
  height: inherit;
  width: 100%;
  max-inline-size: 100%;
  block-size: auto;
}

/* rounded image  */
.round-img {
  border-radius: 50%;
  width: inherit;
  height: inherit;
  object-fit: cover;
  border: 1px solid var(--theme-color);
}

/* ___________________________________________ */
/* cards  css */
.cards-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: var(--light-color);
  width: 100%;
  min-width: 12.5rem;
  max-width: 20rem;
  max-height: 31.25rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: relative;
  transition: all 0.5s ease;
}
.card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.overlay-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.overlay-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--light-color);
}

.card:hover .overlay-content {
  opacity: 0.9;
}

.card-header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-height: 8.75rem;
}

.card-media {
  max-height: 12.5rem;
  padding: 0.4rem;
}

.card-media img {
  height: 12.5rem;
  object-fit: cover;
  border-radius: 0.2rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  /* max-height: 8.75rem; */
  height: fit-content;
}

.card-content-title {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--dark-color);
}
.card-content-subtitle {
  padding: 0.1rem 1rem 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--secondary-color);
}
.card-content-para {
  padding: 1rem 1rem;
  font-size: 1rem;
  overflow: hidden;
}

.card-content.text-over-media{
  position: relative;
  bottom: 5rem;
}

.card-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-width: thin;
  max-height: 100px;
  padding: 0.5rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.7rem;
  align-items: center;
}

.card-footer > button {
  padding: 0.4rem;
  width: fit-content;
  height: fit-content;
  font-size: 0.9rem;
}
.card-footer > .material-icons {
  color: var(--secondary-color);
}

/* horizontal cart - need to work on it*/

.card-horizontal {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--light-color);
  width: 100%;
  min-width: 18.75;
  max-width: 31.25rem;
  max-height: 20rem;
}

.card-horizontal .card-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-horizontal-top {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  max-height: 8.75rem;
}

.card-horizontal-top > .card-media > img {
  width: 12.5rem;
  height: 8.75rem;
  border-radius: 0px;
}

/* navbar starts here  */
/* 
.navbar-container{
  height:600px;
} */

nav {
  min-width: 13rem;
  min-height: 2rem;
  padding: 0.1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.sticky-nav {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}

.nav-icon {
  border-radius: 50%;
}

.nav-icon:hover {
  cursor: pointer;
}

.nav-brand {
  padding: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: auto;
}

.nav-item {
  cursor: pointer;
  padding: 0.5rem;
  min-width: 6rem;
  box-sizing: border-box;
  transition: all 0.3s ease;
  text-align: center;
  display: block;
}

.nav-item:last-child {
  min-width: 0rem;
  margin-right: 3rem;
}

.nav-item-left:first-child {
  min-width: 0rem;
}

.nav-item:hover,
.nav-item:focus {
  font-weight: bold;
  color: var(--light-color);
}

#hamburger {
  display: none;
}

.responsive-navbar {
  display: none;
}
.responsive-navbar > .nav-item {
  display: none;
}

/* responsive navbar  */

@media only screen and (max-width: 600px) {
  #hamburger {
    display: inline-block;
    cursor: pointer;
  }

  #menu__toggle {
    opacity: 0;
  }

  #hamburger-close {
    cursor: pointer;
  }

  .nav-item {
    display: none;
  }

  .nav-item-left {
    display: inline-block;
  }

  .responsive-navbar {
    display: none;
    padding: 1rem;
    position: fixed;
    width: 15rem;
    z-index: 99;
    flex-direction: column;
    top: 0px;
    right: 0px;
    bottom: 0px;
    gap: 10px;
    height: 100vh;
    /* border: 1px solid var(--dark-color); */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .responsive-navbar > .nav-item {
    display: block;
  }

  .responsive-navbar > .nav-item:hover {
    font-weight: bold;
    color: var(--dark-color);
    cursor: pointer;
  }

  nav {
    min-width: 13rem;
    min-height: 2rem;
    padding: 0.1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  }
}
/* toast styles  */
.toast-container {
  height: 600px;
  position: relative;
}

.toast {
  max-width: 35rem;
  min-width: 30rem;
  /* width: fit-content; */
  padding: 0.6rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  left: 1rem;
}

.toast-text {
  font-size: 1rem;
}

.toast-text:first-child {
  margin-right: auto;
}

.toast-text:last-child {
  font-size: 1.3rem;
  margin-left: 2rem;
  cursor: pointer;
}

/* chips  */

.chips {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 10rem;
  gap: 10px;
}

.chip {
  width: fir-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0.5rem;
  border-radius: 1rem;
}

.chip > .chip-icon {
  cursor: pointer;
  border-radius: 50%;
  padding: 0.1rem;
}

/* form and input styles */
.form-container {
  padding: 0.5rem;
  display: flex;
  height: 80vh;
  justify-content: center;
  flex-direction: column;
  /* align-items: start; */
  width: fit-content;
}

.form-group {
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
  padding: 0.5rem;
  width: inherit;
  padding: 2.5rem;
}

input,
textarea {
  padding: 8px 6px;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-width: 20rem;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  padding: 0;
  min-width: 1rem;
  cursor: pointer;
  accent-color: var(--theme-color);
  width: 1rem;
  height: 1rem;
}

textarea {
  min-height: 160px;
}

.input-label {
  margin: 1rem 0rem;
}

.error-input {
  border: 1px solid var(--danger-color);
  outline: 1px solid var(--danger-color);
}

.validation-error {
  color: var(--danger-color);
  font-size: 12px;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: calc(0.7rem + 0.5vw);
  }
}

@media only screen and (max-width: 250px) {
  html {
    display: none;
  }
}
