<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="../style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="navbar-container sticky-nav">
      <nav class="theme-color text-dark">
        <!-- nav icon -->
        <div class="nav-item-left">
          <i class="nav-icon material-icons md-24 activate-drawer"> menu </i>
        </div>

        <!-- nav brand  -->
        <div class="nav-brand">Xenon-UI </div>

        <!-- responsive styles hamburger -->
        <div>
          <span id="hamburger" class="hamburger material-icons">
            menu_open
          </span>
        </div>

        <!-- nav-item on right side  -->
        <div class="nav-item">
          <i class="nav-icon material-icons md-24"> home </i>
          Home
        </div>
        <div class="nav-item">About</div>
        <div class="nav-item">Settings</div>
        <div class="nav-item">Contact</div>
        <div class="nav-item">
          <img
            class="avatar-xs"
            src="https://miro.medium.com/fit/c/262/262/1*MFLNc70kh8oLPUsDaUH4sg.jpeg"
          />
        </div>

        <!-- respomsive navabar code  -->

        <div class="responsive-navbar light-color">
          <span id="hamburger-close" class="hamburger material-icons">
            close
          </span>
          <a href="../index.html" class="nav-item">Home</>
          <div class="nav-item">About</div>
          <div class="nav-item">Settings</div>
          <div class="nav-item">Contact</div>
          <a href="../layout/layout.html"  class="nav-item">Layout</a>
          <a href="../drawer/drawer.html"  class="nav-item">Drawer</a>
          <a href="../dialogs/dialogs.html"  class="nav-item">Dialog</a>
          <div class="nav-item">
            <img
              class="avatar-xs"
              src="https://miro.medium.com/fit/c/262/262/1*MFLNc70kh8oLPUsDaUH4sg.jpeg"
            />
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quas, natus nostrum pariatur nobis nesciunt sunt nemo similique molestias perferendis, iure exercitationem esse inventore accusantium distinctio, dicta consequatur dolorem ducimus!
      Try opeing drawer from top left corner and also with mobile view.
    </div>

    <!-- drawer -->
    <div class="drawer-container"  style="display: none">
      <div class="drawer light-color showDrawer">
        <div class="drawer-title">Xenon</div>
        <div class="drawer-subtitle text-secondary">Select from below</div>
        <div class="drawer-buttons text-dark">
          <div>
            <span class="material-icons md-24"> mail </span>
            Inbox
          </div>
          <div>
            <span class="material-icons md-24"> star </span>
            Star
          </div>
          <div>
            <span class="material-icons md-24"> send </span>
            Sent mail
          </div>
          <div>
            <span class="material-icons md-24"> drafts </span>
            Drafts
          </div>
          <a>
            <span class="material-icons md-24"> drafts </span>
            Drafts
          </a>
        </div>
      </div>
    </div>

    <script>
      window.onload = function () {
        //drawer button on navbar
        const drawerActive = document.querySelector(".activate-drawer");

        //main drawer container div
        const drawerContainer = document.querySelector(".drawer-container");

        // each nav item
        const navItems = document.querySelectorAll(".nav-item");

        //hamburger
        const hamburger = document.querySelector("#hamburger");
        const hamburgerClose = document.querySelector("#hamburger-close");

        //responsive navbar container div
        const responsiveNavbar = document.querySelector(".responsive-navbar");

        drawerActive.addEventListener("click", () => {
          if (drawerContainer.style.display === "none") {
            drawerContainer.style.display = "flex";
          }
        });

        document.addEventListener(
          "click",
          function (event) {
            if (!event.target.closest(".activate-drawer")) {
              drawerContainer.style.display = "none";
            }

            if(event.target.classList.contains("drawer")){
              console.log("clicked")
              drawerContainer.style.display = "flex";
            }
          },
          false
        );

        hamburger.addEventListener("click", () => {
          responsiveNavbar.style.display = "flex";
          console.log(responsiveNavbar.style.display)
        });

        hamburgerClose.addEventListener("click", () => {
          responsiveNavbar.style.display = "none";
        });
      };
    </script>
  </body>
</html>
